#django
SECRET_KEY=<SECRET_KEY>
DJANGO_SETTINGS_MODULE=<settings>


#dropbox
OAUTH2_ACCESS_TOKEN=<OAUTH2_ACCESS_TOKEN>
OAUTH2_REFRESH_TOKEN=<OAUTH2_REFRESH_TOKEN>
APP_KEY=<APP_KEY>
APP_SECRET=<APP_SECRET>


#DB
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
