{% extends "base.html" %}
{% block background %}bg-cooks{% endblock %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-4 p-4 rounded shadow"
     style="background-color: rgba(255, 255, 255, 0.85); backdrop-filter: blur(8px);">
  <div class="container mt-4">
    <h1>Change Password for {{ cook.username }}</h1>

    <div class="card mt-3 shadow-sm">
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Change Password</button>
        </form>
      </div>
    </div>

    <div class="mt-3">
      <a class="btn btn-outline-secondary" href="{% url 'kitchen:cook-detail' pk=cook.id %}">Back to Cook</a>
    </div>
  </div>
</div>
{% endblock %}
