.bg-dishes {
  background-image: url("../images/dish_list_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}


.bg-home {
  background-image: url("../images/home_background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.bg-logged-out {
  background-image: url("../images/logged_out_background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.bg-login {
  background-image: url("../images/login.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


body {
  font-family: "Playwrite CA", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sidebar-btn {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 10px;
  transition: background-color 0.2s, transform 0.1s;
}

.sidebar-btn:hover {
  background-color: rgb(230 230 230 / 90%);
  transform: translateX(3px);
}

.sidebar-btn-danger:hover {
  transform: translateX(3px);
}
