{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <br>
  <h1>Cook List <a class="btn btn-outline-primary" style="float: right" href="{% url 'kitchen:cook-create' %}">Add cook</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <select name="order_by" class="form-control ml-2">
      <option value="">-- Sort by --</option>
      <option value="full_name_asc" {% if current_order == "full_name_asc" %}selected{% endif %}>Full Name ↑</option>
      <option value="full_name_desc" {% if current_order == "full_name_desc" %}selected{% endif %}>Full Name ↓</option>
      <option value="experience_asc" {% if current_order == "experience_asc" %}selected{% endif %}>Experience Years ↑</option>
      <option value="experience_desc" {% if current_order == "experience_desc" %}selected{% endif %}>Experience Years ↓</option>
      </select>
    <button type="submit" class="btn btn-secondary ml-2">Search</button>
  </form>

  {% if cook_list %}
    <div class="table-responsive">
      <table class="table table-striped align-middle rounded shadow-sm overflow-hidden">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Experience (Years)</th>
          </tr>
        </thead>
        <tbody>
          {% for cook in cook_list %}
            <tr>
              <td><a href="{{ cook.get_absolute_url }}" class="text-decoration-none">{{ cook.id }}</a></td>
              <td>{{ cook.first_name }} {{ cook.last_name }}</td>
              <td>{{ cook.username }}</td>
              <td>{{ cook.years_of_experience }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-info text-center">
      No cooks found.
    </div>
  {% endif %}
{% endblock %}
