{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Cook List <a class="btn btn-primary" style="float: right" href="{% url 'kitchen:cook-create' %}">Add cook</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <button type="submit" class="btn-secondary">Submit</button>
  </form>
  {% if cook_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Experience Years</th>
      </tr>
      {% for cook in cook_list %}
        <tr>
          <td>
            <a href="{{ cook.get_absolute_url }}">{{ cook.id }}</a>
          </td>
          <td>
            {{ cook.first_name }} {{ cook.last_name }}
          </td>
          <td>
            {{ cook.username }}
          </td>
          <td>
            {{ cook.years_of_experience }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
