{% extends "base.html" %}

{% block content %}
  <h1>Name: {{ dish.name }}
    <a class="btn btn-secondary" style="float: right" href="{% url 'kitchen:dish-update' pk=dish.id %}">Edit</a>
    <a class="btn btn-danger" style="float: right" href="{% url 'kitchen:dish-delete' pk=dish.id %}">Delete</a></h1>
  <p><strong>Price: </strong>{{ dish.price }}$</p>
  <p><strong>Dish type: </strong>{{ dish.dish_type }}</p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  <p><strong>Ingredients:</strong>
  {% for ingredient in dish.ingredients.all %}
    {{ ingredient.name }},
  {% empty %}
    No ingredients
  {% endfor %}
</p>
  {% if dish.picture %}
    <p><strong>Picture:</strong></p>
    <p><img src="{{ dish.picture.url }}" alt="{{ dish.name }}" style="max-width:300px; height:auto;"></p>
  {% else %}
    <p class="text-muted">No picture available</p>
  {% endif %}
  <div class="ml-3">
    <h3>Cooks:</h3>
    {% for cook in dish.cooks.all %}
      <hr>
      <p><strong>Full name: </strong>{{ cook.first_name }} {{ cook.last_name }}<p>
      <p><strong>Years of experience: </strong>{{ cook.years_of_experience }}</p>
      <a href="{{ cook.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
      {% empty %}
        <p>No cooks!</p>
    {% endfor %}
  </div>
{% endblock %}
