{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish List <a class="btn btn-primary" style="float: right" href="{% url 'kitchen:dish-create' %}">+</a></h1>
<table class="table">
  <tr>
    <th>Picture</th>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Dish Type</th>
  </tr>
  {% for dish in dish_list %}
    <tr>
      <td>
        {% if dish.picture %}
          <img src="{{ dish.picture.url }}" alt="{{ dish.name }}" width="250" height="250">
        {% else %}
          <span class="text-muted">No picture</span>
        {% endif %}
      </td>
      <td><a href="{{ dish.get_absolute_url }}">{{ dish.id }}</a></td>
      <td>{{ dish.name }}</td>
      <td>{{ dish.price }}</td>
      <td>{{ dish.dish_type }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
